*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: url("../img/4903124.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    
    
} 

.container-geral{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #FFF;
    color: #4a71a3;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.39);
}

h1{
        color: #0b0c4c;
        font-size: 2.5em;
        font-family: Arial, Helvetica, sans-serif
}

form{
    padding: 15px;
    margin: 10px 0px;
}

label, input{
    display: block;
    width: 100%;
}

label{
    text-align: left;
    margin: 5px 0px;
    font-weight: bold;
}

input#email,
input#senha{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4a71a3;
    background-color: inherit;
    color: #0b0c4c;
    font-size: 1em;
    margin: 5px 0;
}

input:focus{
    outline: none;
    border-bottom: 2px solid #000;
}

a#link{
    text-align: right;
    display: block;
    color: #0b0c4c;
}

a#link:hover{
    color: #4a71a3;
    text-decoration: none;
}

input#login{
    padding: 2px;
    background-color: #0b0c4c;
    color: #FFF;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-top: 30px;
    border: 1px solid #0b0c4c;
}

input#login:hover{
    background-color: inherit;
    color: #0b0c4c;
    border: 1px solid #0b0c4c;
    
}

.container-redes{
    margin-top: 10px;
    font-weight: bold;
}


.icone{
   text-decoration: none;
   font-size: 2em;
}

.icone i {
    color: #0b0c4c;
}

i.fa-facebook:hover{
    color:#3b5998 ;
}

i.fa-google:hover{
    color: rgb(116, 116, 116);
}





/* telas de no minimo 768px para cima e orientação retrato |
    tablets
*/
@media screen and (min-width:768px) and (orientation:portrait) {
    .container{
        width: 600px;
        height: 900px;
        justify-content: center;
    }

    h1{
        font-size: 3.5em;
        
    }

    label{
        font-size: 1.3em;
    }

    input#email,
    input#senha{
        font-size: 1.7em;
    
    }

    a#link{
        font-size: 1.3em;
    }

    input#login{
        font-size: 1.9em;
    }

    .container-redes p{
        font-size: 1.4em;
    }

    .icone{
        text-decoration: none;
        font-size: 2.5em;
     }
    
   
}


/* telas de no minimo 768px para cima na orientação paisagem __*/
@media screen and (min-width: 768px) and (max-width:991px) and (orientation:landscape) {
    .container{
        width: 500px;
    }
}

/* telas de no minimo 900px para cima e orientação paisagem __*/
@media screen and (min-width:992px) and (orientation: landscape) {

    .container{
        width: 800px;
    }
    
}

/* telas maiores de 992px --DESKTOP-- */
@media screen and (min-width:992px) {
    .container{
        width: 50%;
    }

    .container-form{
        display: flex;
        justify-content:center;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 90%;

    }

    
}



